html {
  box-sizing: border-box;
}
body {
  font-family:"Playfair Display", serif;
  font-size: 14px;
  color: rgb(98, 98, 98);
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 900px;
  margin: auto;
}
.navigation-list {
  height: 190px;
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 100px;
}
.navigation-list li {
  list-style: none;
  display: inline-block;
  line-height: 24px;
  text-transform: uppercase;
}
.lifestyle {
  text-decoration: none;
  margin-left: 150px;
}
.photodiary {
  text-decoration: none;
  margin-left: 120px;
}
.music {
  text-decoration: none;
  margin-left: 105px;
}
.travel {
  text-decoration: none;
  margin-left: 105px;
  margin-right: 150px;
}
.lifestyle:hover,
.lifestyle:focus {
  color: rgb(3, 169, 244);
}
.photodiary:hover,
.photodiary:focus {
  color: rgb(3, 169, 244);  
}
.music:hover,
.music:focus {
  color: rgb(3, 169, 244);
}
.travel:hover,
.travel:focus {
  color: rgb(3, 169, 244);
}
.section-list {
  list-style: none;
  padding: 0;
  font-size: 0;
  margin-bottom: 53px;
}
.section-list-item {
  font-size: 14px;
  width: 421px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 58px;
  margin-bottom: 130px;
}
.section-list-item:nth-child(2n) {
  margin-right: 0;
}
.section-list-item:nth-last-child(-n +2) {
  margin-bottom: 0;
}
.section-list-image {
  margin-bottom: 31px;
}
.section-list-title {
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 17px;
  margin-bottom: 31px;
}
.section-list-slogan {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 37px;
}
.section-list-description {
  line-height: 24px;
}
.bottom_button {
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  margin-left: 350px;
  margin-bottom: 91px;
  border: 1px solid rgb(98, 98, 98);
  background-color: rgb(255, 255, 255);
  padding: 20px 33px 20px 37px;
  cursor: pointer;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}


